<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>FilterEncoding</filter-name>
		<filter-class>filter.FilterEncoding</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<servlet-class>T2.Servlet.FirstServlet</servlet-class>
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>张三</param-value>
  	</init-param>
  	<init-param>
  		<param-name>age</param-name>
  		<param-value>18</param-value>
  	</init-param>
  	<init-param>
  		<param-name>sex</param-name>
  		<param-value>男</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>T2.Servlet.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>T2.Servlet.HelloWorldServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletPage</servlet-name>
  	<jsp-file>/T5/ServletPage.jsp</jsp-file>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
  	</init-param>
  	<init-param>
  		<param-name>url</param-name>
  		<param-value>jdbc:sqlserver://localhost\\SQL2005:1433;databasename=QQ2016</param-value>
  	</init-param>
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>sa</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>123456</param-value>
  	</init-param>
  </servlet>
   
  <servlet-mapping>
  	<servlet-name>ServletPage</servlet-name>
  	<url-pattern>/ServletPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>T2.Servlet.TestServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>T2.Servlet.loginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginServlet2</servlet-name>
  	<servlet-class>T2.Servlet.loginServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet2</servlet-name>
  	<url-pattern>/loginServlet2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginServlet1</servlet-name>
  	<servlet-class>T2.Servlet.loginServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet1</servlet-name>
  	<url-pattern>/loginServlet1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginServlet3</servlet-name>
  	<servlet-class>T2.Servlet.loginServlet3</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet3</servlet-name>
  	<url-pattern>/loginServlet3</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SupportServlet</servlet-name>
    <servlet-class>T2.Servlet.SupportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>T2.Servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet2</servlet-name>
    <servlet-class>mytag.CityServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>T2.Servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeServlet2</servlet-name>
    <servlet-class>mytag.GradeServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>T7.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cityServlet</servlet-name>
    <servlet-class>Lianxi.cityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>T8.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>T2.Servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExampleServlet</servlet-name>
    <servlet-class>T2.Servlet.ExampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirsetServlet</servlet-name>
    <servlet-class>T2.Servlet.FirsetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecServlet</servlet-name>
    <servlet-class>T2.Servlet.SecServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RespServlet</servlet-name>
    <servlet-class>T2.Servlet.RespServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>T2.Servlet.IncludeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>T2.Servlet.ThirdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bankServlet</servlet-name>
    <servlet-class>T2.Servlet.bankServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UrlServlet</servlet-name>
    <servlet-class>T2.Servlet.UrlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>T2.Servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>upload.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>upload.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>teacherServlet</servlet-name>
    <servlet-class>T2.Servlet.teacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>T2.Servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>T2.Servlet.studentServlet</servlet-class>
  </servlet>



	  <jsp-config>
	  	<taglib>
	  		<taglib-uri>/demotag</taglib-uri>
	  		<taglib-location>/WEB-INF/lib/tld/mytag.tld</taglib-location>
	  	</taglib>
	  </jsp-config>
	<resource-ref>
	  <res-ref-name>jdbc/dbsample</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
    </resource-ref>

  <servlet-mapping>
    <servlet-name>SupportServlet</servlet-name>
    <url-pattern>/SupportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet2</servlet-name>
    <url-pattern>/CityServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeServlet2</servlet-name>
    <url-pattern>/GradeServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cityServlet</servlet-name>
    <url-pattern>/cityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExampleServlet</servlet-name>
    <url-pattern>/ExampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirsetServlet</servlet-name>
    <url-pattern>/FirsetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecServlet</servlet-name>
    <url-pattern>/SecServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RespServlet</servlet-name>
    <url-pattern>/RespServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/IncludeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bankServlet</servlet-name>
    <url-pattern>/bankServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>UrlServlet</servlet-name>
    <url-pattern>/UrlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>teacherServlet</servlet-name>
    <url-pattern>/teacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/usersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
