<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.activiti.dao.UserDao">
	<resultMap type="User" id="UserResult">
		<result property="id" column="id_"/>
		<result property="firstName" column="first_"/>
		<result property="lastName" column="last_"/>
		<result property="email" column="email_"/>
		<result property="password" column="pwd_"/>
	</resultMap>

	<select id="findById" parameterType="String" resultMap="UserResult">
		select * from act_id_user where id_=#{id}
	</select>
	
	 <select id="userPage" parameterType="Map" resultMap="UserResult">
		select * from act_id_user
		<where>
			<if test="id!=null and id!='' ">
				 and id_ like #{id}
			</if>
		</where>
		<if test="pageIndex!=null and pageSize!=null">
		 		  limit #{pageIndex},#{pageSize}
		 	</if>
	</select>

	<select id="userCount" parameterType="Map" resultType="int">
		select count(1) from act_id_user
		<where>
			<if test="id!=null and id!='' ">
				 and id_ like #{id}
			</if>
		</where>
	</select>

	<delete id="deleteUser" parameterType="java.util.List">
		delete from act_id_user where id_ in
		<foreach collection="list" item="id" index="index" open="(" separator="," close=")">
           		 #{id}
       	</foreach>
	</delete>
	
	<insert id="addUser" parameterType="User">
		insert into act_id_user values(#{id},null,#{firstName},#{lastName},#{email},#{password},null);
	</insert>
	
	<update id="updateUser" parameterType="User">
		update act_id_user
		<set>
			<if test="firstName!=null and firstName!='' ">
				first_=#{firstName},
			</if>
			<if test="lastName!=null and lastName!='' ">
				last_=#{lastName},
			</if>
			<if test="email!=null and email!='' ">
				email_=#{email},
			</if>
			<if test="password!=null and password!='' ">
				pwd_=#{password},
			</if>
		</set>
		where id_=#{id}
	</update>
	
</mapper> 